site_name: SC940 Board Documentation
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - search.suggest
    - search.highlight
  palette:
    scheme: default
    primary: indigo
    accent: indigo

copyright: Copyright &copy; 2025 Essensys

nav:
  - Home: index.md
  - Hardware: hardware.md
  - Firmware: firmware.md

plugins:
  - search
