site_name: SC940 Board Documentation
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - search.suggest
    - search.highlight
  palette:
    scheme: default
    primary: indigo
    accent: indigo

copyright: Copyright &copy; 2025 Essensys

nav:
  - Home: index.md
  - Architecture:
    - Overview: Architecture_Overview.md
    - Power Budget: Power_Budget.md
  - Hardware Design:
    - Design Files: hardware.md
    - Change Log: Hardware_ChangeLog.md
    - DFM Recommendations: DFM_Recommendations.md
  - Firmware: firmware.md
  - Downloads: downloads.md

plugins:
  - search

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
